.login-left-two{
    position: absolute;
    top: 19px;
    left: -80px;
    font-weight: lighter;
}
.form-control-two{
    width: 362px;
    height: 55px;
}
.form-input{
    margin-top: 35px;
    color: #666B83;
}
.code{
    width: 192px;
}
.sendcode{
    width: 150px;
    height: 55px;
    background-color: #E2E2E2;
    position: absolute;
    top: 2px;
    left: 212px;
    text-align: center;
    line-height: 55px;
    cursor: pointer;
}
.registerpic{
    margin-top: 42px;

}
.body-body-right{
    width: 450px;
    height: 560px;
    /* border: 1px solid red; */
}
.body-body-left{
    width: 753px;
    height: 565px;
    /* border: 1px solid red; */
}
.Mailbox{
    /* position: absolute;
    top: 0;
    right: 0; */
    color: #85D0FF;
}
.login{
    width: 483px;
    height: 565px;
    padding-left: 220px;
    /* border: 1px solid rebeccapurple; */
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
}
.alert-danger{
    /* margin-top: 50px; */
    position: absolute;
    top: 64px;
    /* left: 10px; */
    display: none;
    /* width: 100px; */
    /* height: 20px; */
    /* background-color: red; */
}
.success{
    position: absolute;
    top: 64px;
    display:none;
}
.success-two{
    position: absolute;
    top: 163px;
    left: 10px;
    color: red;
}
