.shopcar-body{
    width: 1200px;
    margin: auto;
}
.shopcar-top{
    height: 45px;
    width: 100%;
    line-height: 45px;
    color: #a3a3a3;
}
.shopcar-top div{
    float: left;
    font-size: 12px;
}
.shopcar-top div:first-of-type{
    width: 230px;
    margin-left: 163px;
    padding-left: 33px;
}
.shopcar-top div:nth-of-type(2){
    width: 230px;
}
.shopcar-top div:nth-of-type(3){
    width: 170px;
}
.shopcar-top div:nth-of-type(4){
    width: 215px;
}
.shopcar-top div:nth-of-type(5){
    width: 155px;
}
.shopcar-car{
    width: 1200px;
    height: 500px;
    background: #fff;
    margin-bottom: 50px;
}